@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --color1: #F7F7FA;
    --color2: #9A95CA;
    --color3: #6C65A4;
    --color4: #363268;
    --color5: #353346;
    --color6: #9A97AD;
    --color7: #25289F;
    --whiteColor: #ffffff;
    --imageCardWidth: 280px;
    --imageCardHeight: 230px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row-reverse;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.right-aside {
    width: 16%;
    height: 100vh;
    background-color: var(--color1);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

.left-aside {
    width: 20%;
    height: 100vh;
    background-color: var(--whiteColor);
}

main {
    margin-inline-end: 16%;
    width: 60%;
    height: 100vh;
    background-color: var(--whiteColor);
}

.user-section {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 10px;
}

.user-section img {
    width: 64px;
    height: 64px;
}

.user-section p.user-name {
    font-weight: 700;
}

.user-section p.user-info {
    font-size: 0.8rem;
    opacity: 0.5;
}

.transportation {
    padding: 0 20px;
}

.transportation div {
    margin-block-start: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.transportation span {
    color: #5e51bf;
    background-color: #9a95ca2f;
    font-size: 28px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.transportation div span:nth-last-child(1) {
    color: #9a95caf8;
    background-color: transparent;
    border: 3px dashed #9a95caf8;
}

.friends {
    padding: 20px 20px;
    a{
        transition: 0.5s;

    }
}

.friends div {
    display: flex;
    margin-top: 10px;
}

.friends img {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    object-fit: contain;
    border: 3px solid white;
}

.friends a:not(a:nth-child(1)) {
    margin-inline-start: -20px;
}

.friends span {
    background-color: #363268c9;
    color: white;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    border: 3px dashed white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: -20px;
    cursor: pointer;
}

.integrations {
    padding-inline: 20px;
}



.integrations img {
    height: 50px;
    width: 100%;
    object-fit: contain;
    display: block;
    background-color: white;
    border-radius: 15px;
    margin-top: 10px;
}

.cards {
    padding: 20px;
}

.cards .card {
    margin-top: 10px;
    width: 200px;
    height: 100px;
    background-color: #5e51bf;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 20;
    padding: 5px 10px 10px 10px;
}

.card p {
    color: white;
    font-size: 0.85rem;
    margin-top: 5px;
}

.card .card-expire {
    font-size: 0.65rem;
}

.card .card-balance {
    font-weight: 700;
}

.card .bg1,
.bg2 {
    background-color: #36326890;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
}

.card .bg1 {
    top: -110px;
    right: -100px;
}

.card .bg2 {
    bottom: -100px;
    left: -100px;
}

.card .circle1,
.circle2 {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.601);
    bottom: 10px;
    right: 20px;
    z-index: 99;
    border-radius: 100%;
}

.card .circle2 {
    right: 12px;
}

/* ############################ Main Section ################################ */
main {
    padding: 20px 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main header .welcome p:nth-child(1) {
    font-weight: 900;
    font-size: 2rem;
}

main header .welcome p:nth-child(2) {
    opacity: 0.5;
}

main header .tools {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

main header .tools input {
    border: 0;
    background-color: var(--color1);
    padding: 10px 15px;
    border-radius: 10px;
    width: 100px;
    transition: width 0.5s;
}

main header .tools input:hover, main header .tools input:focus {
    width: 200px;
}

main header .tools input::placeholder {
    opacity: 0.6;
}

main header .tools>span {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: var(--color3);
    background-color: var(--color1);
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

main header .tools div input::-webkit-search-cancel-button {
    position: relative;
    right: -40px;
}

main header .tools div {
    position: relative;
}

main header .tools div span {
    position: absolute;
    right: 10px;
    top: 5px;
    color: var(--color3);
    font-weight: 500;
}

/* /////////Hotel Section/////////// */

.hotels {
    margin-top: 20px;
}

.tab-pill-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    .custom-tab-pill {
        display: flex;
        gap: 20px;

        .active {
            color: black;
            font-weight: 700;
            position: relative;
        }

        .active::after {
            content: '';
            width: 30px;
            position: absolute;
            bottom: -5px;
            left: 0px;
            border-bottom: 4px solid var(--color3);
        }
    }
}

.tab-pill-container>a {
    position: relative;
    margin-right: 20px;
}

.tab-pill-container>a::after {
    content: '>';
    position: absolute;
    text-align: center;
    right: -12px;
    top: 0;
    transition: 0.5s;
}

.tab-pill-container>a:hover::after {
    right: -17px;
}

.hotels .tab-pill-container a {
    text-decoration: none;
    color: var(--color6);
    font-weight: 400;
}



.tab-content {
    margin-top: 20px;
    height: var(--imageCardHeight);
    position: relative;
    overflow: hidden;
}

.tab-pane {
    /* display: none; */
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

.tab-content .active {
    display: grid !important;
    opacity: 1;
    justify-content: space-between;
    width: 100%;
    grid-template-columns: auto auto auto;
    gap: 20px;
    z-index: 1;
}

.tab-content .tab-pane {}

.image-card {
    width: var(--imageCardWidth);
    height: var(--imageCardHeight);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-card .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: var(--imageCardHeight);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 10px;
    transition: 0.3s;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.841), transparent);

    >p {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }
}

.image-card:hover .overlay {
    top: 0px;
}

/* /////////End Hotel Section/////////// */

main>div {
    margin-top: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 59% 40%;
}

/* /////////Best Resort Section/////////// */
main .best-resorts {
    width: 100%;
    order: 1;

    >div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        >span {
            background-color: var(--color1);
            padding: 10px;
            border-radius: 10px;
            color: #727272bf;
            cursor: pointer;
            transition: 0.5s;
        }
        >span:hover {
            background-color: #6060602f;
        }
    }

    .resort-card:hover {
        background-color: #6060602f;
    }

    .resort-card {
        background-color: var(--color1);
        border-radius: 10px;
        padding: 10px 10px;
        margin-top: 10px;
        cursor: pointer;
        transition: 0.5s;

        img {
            width: 64px;
            height: 64px;
            border-radius: 10px;
        }

        .resort-title {
            display: flex;
            padding-inline-start: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;

            >div {
                margin-top: 5px;
                margin-inline-start: -1px;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    font-size: 0.8rem;
                }
            }
        }

        .resort-price {
            display: flex;
            align-items: flex-end;

            p {
                font-weight: bold;
            }

            span {
                font-size: 0.8rem;
            }
        }
    }
}

/* /////////END Best Resort Section/////////// */
/* /////////Available Dates Section/////////// */
main .available-dates {
    background-color: #353346;
    height: 100%;
    width: 100%;
}

/* /////////END Available Dates Section/////////// */

/* ############################ END Main Section ################################ */